*{
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: white;
}

.card-shadow{
    box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07) !important;
    transition: all 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
}

.card-shadow img{
    transition: transform 0.3s;
}

.containerise{
    margin: auto;
    width: 85%;
    padding-bottom: 10%;
}

.post{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 4%;
}

.cards-container{
    display: flex;
    justify-content: space-between;
}

.cards-container > div{
    width: 32%;
    border-radius: 30px;
    background: white;
}

.cards-container img{
    width: 100%;
    height: 385px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.browse-posts{
    color: black;
    border: solid 1px #e2e3e9;
    border-radius: 30px;
    padding: 20px 35px;
    text-decoration: none;
}

.about-post{
    padding: 8%;
    transition: transform 0.3s;
}

.about-post > h2{
    font-size: 1.4rem;
    line-height: 1.5;
}

.post > h1{
    font-size: 2.3rem;
}

.post{
    margin-bottom: 23px;
}

.post-excerpt{
    color: #8c8c95;
    font-size: 0.99rem;
    line-height: 1.5;
}

.p-5{
    padding-bottom: 5%;
}

.p-8{
    padding-bottom: 8%;
}

.d-flex{
    display: flex;
}

.jc-space-between{
    justify-content: space-between;
}

.color-black{
    color: #232323;
}

.color-white{
    color: white;
}

.card-shadow:hover, .card-shadow:hover a{
    color: #3f69ff;
}

i{
    margin-right: 10px;
    font-size: 13px;
}

.browse-posts:hover{
    background-color: #e2e3e9;
    transform: translateY(-5px) scale(1);
}

.card-shadow:hover{
    transform: translateY(-5px) scale(1);
}

.card-shadow:hover img{
    transform: scale(1.0);
}

@media screen and (max-width: 900px){
    .cards-container{
        flex-wrap: wrap;
    }

    .cards-container > div{
        width: 48%;
    }

    #post-3{
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .cards-container{
        /* display: flex; */
        /* justify-content: space-between; */
        flex-wrap: wrap;
    }
    
    .cards-container > div{
        width: 100%;
        /* border-radius: 30px;
        background: white; */
    }

    .post{
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .post > h1{
        margin-bottom: 30px;
    }
 
}


/* STYLING FOR THE PART I COMMENTED OUT IN THE HTML DOCUMENT(NOT NEEDED FOR THE ASSIGNMENT) */

/* .mb-1p5{
    margin-bottom: 1.5%;
}

.mb-5{
    margin-bottom: 5%;
}

#icons-container i {
    font-size: 22px;
}

.bg-red{
    background-color: red;
}

.bg-facebook{
    background-color: #3e5b98;
}

.bg-twitter{
    background-color: #4da7de;
} 

.w-40{
    width: 40%;
}

#icons-container span{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-60{
    width: 60%;
}

.color-gray{
    color: #8c8c95;
    font-size: 0.97rem;
    line-height: 1.5;
}

#profile-card-section img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

#profile-card-section{
    width: 60%;
    margin: auto;
    margin-bottom: 15%;
}

.p-10{
    padding: 10%;
} */